.currentLink svg {
  stroke: #5965E0;
}

.item {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.normalLink svg {
  stroke: #666; 
}

.item svg {
  transition: all 0.18s;
}

.item:hover svg {
  stroke: #5965E0;
}

.itemBar {
  position: absolute;
  width: 0.4rem;
  background: #5965E0;
  height: 56px;
  left: 0px;
  border-radius: 0px 10px 10px 0px;
}

.item + .item {
  margin-top: 4rem;
}

@media (max-width: 1024px) {
  .item {
    width: 56px;
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-items: center;
  }

  .itemBar {
    width: 56px;
    height: 0.4rem;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .item + .item {
    margin-top: 0rem;
    margin-left: 4rem;
  }
}