.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  margin-top: 16px;
}

.currentButton {
  background-color: transparent;
  border: none;
  font-size: 14px;
}

.normalButton {
  background-color: transparent;
  border: none;
  font-size: 14px;
}

.button {
  border-radius: 50%;
  height: 24px;
  width: 24px;
}

.button + .button {
  margin-left: 12px;
}

.normalButton {
  background: var(--background);
  color: var(--text);
}

.currentButton {
  background: var(--blue);
  color: var(--white);
}