.container {
  background: var(--blue);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10vw;
  height: 600px;
}

@media (max-width: 1400px) {
  .container > img {
    width: 28rem;
  }
}

@media (max-width: 1024px) {
  .container > img {
    display: none;
  }

  .formContainer {
    margin-left: 0px;
    width: 100%;
    align-items: center;
  }

  .githubContainer {
    padding: 0px 32px;
  }
}

.formContainer > img {
  width: 22rem;
}

.formContainer h1 {
  color: var(--white);
  font-size: 36px;
  line-height: 46px;
  font-weight: 600;
  margin-top: 114px;
}

.githubContainer {
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.githubContainer p {
  color: var(--white);
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  margin-left: 24px;
}