/* remember: if your container is width: 90%, so container div:last-child will be 90vw */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 40px;
  /* width: 90%; */
  /* max-width: 900px; */
  margin: 0 auto;
}

.container div {
  background: #7159c1;
  font-size: 50px;
}

@media (max-width: 430px) {
  .container div:last-child {
    width: 100vw;
  }
}